@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"] - BOOKAHOLIC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" />

    <!-- Added CSS links for nav and boot and body -->
    <link rel="stylesheet" href="~/css/NavigationStyle.css">
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/css/FooterStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>
    <!-- Navigation for master page design or layout-->
    <header class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container-fluid">
                <a class="navbar-brand" data-bss-hover-animate="jello" asp-area="" asp-controller="Home" asp-action="Index" style="color: rgb(255,219,31);font-size: 22px;font-family: 'Source Sans Pro', sans-serif;width: 130.594px;">BOOKAHOLIC</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto" style="font-size: 19px; color: rgb(255,219,31);">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Books" asp-action="Index">Book Inventory</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Books" asp-action="BookDisplay">View Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="aboutUs">About Us</a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Manage</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item active" asp-area="" asp-controller="Books" asp-action="Index">Book Inventory</a>
                                    <a class="dropdown-item active" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                    <a class="dropdown-item active" asp-area="" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                    <a class="dropdown-item active" asp-area="" asp-controller="Books" asp-action="ViewPurchases">Purchases</a>

                                </div>
                            </li>
                        }
                        <div class="navbar-collapse ml-auto collapse d-lg-inline-flex flex-sm-row">
                            <ul class="navbar-nav flex-grow-1">
                                @if (signInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <form method="post" asp-action="logout" asp-controller="Account">
                                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                                Logout @User.Identity.Name
                                            </button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                    </li>
                                }


                            </ul>
                        </div>
                    </ul>
                    <span class="navbar-text"> </span>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-clean">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <p>Copyright &copy; 2022 | BOOKAHOLIC  &nbsp; &nbsp;    </p>
                </div>
                <div class="col-lg-3 col-xl-6 item social">
                    <a data-bss-hover-animate="swing" href="" target="_blank"><i class="icon ion-social-facebook"></i></a>
                    <a data-bss-hover-animate="swing" href="" target="_blank"><i class="icon ion-social-twitter" data-bss-hover-animate="shake"></i></a>
                    <a data-bss-hover-animate="wobble" href="#"><i class="icon ion-social-instagram"></i></a><a data-bss-hover-animate="wobble" href="" target="_blank"><i class="icon ion-social-github"></i></a>
                </div>
            </div>
        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--Added java script file for animation effects-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
