<div class="text-center">
    <h1 class="text-danger text-uppercase"> Access Denied</h1>
    <h6 class="text-danger text-capitalize"> I am Sorry but you do not have permission to view this page</h6>
</div>
