@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>


<div class="aboutpage">

    <div class="logoPhilware">
        <img src="~/images/bookaholic_logo.jpg" alt="BookAholic Logo" />
    </div>





    <h3>BookAholic Book Store</h3>
    <p>
        Founded in August of 2022 based in Savanna-la-mar, Westmoreland, Jamaica. BookAholic is a trusted community marketplace
        for people who are looking to purchase books,
        school essentials, and other office equipments.
        Founded by Philmore Foster who is an aspired Database Administrator and UTECH student who wants to provide the
        very best in books to his customers shopping for the latest and most popular books on the market.
    </p>

    <br>
    <h3>Why Shop With Us ? </h3>
    <p>
        We are dedicated to providing the most superb customer service and quality sold books at very competitive prices.
        So what you waiting on come on down to the ookAholic store or place your order online to secure your desired device today!
        We have a wide variety of products that we offer. We have specialized in the following domains and offer:
    </p>
    <ul>

        <li>Book Wraps  </li>
        <li>Office Equipment</li>
        <li>Kids Book </li>
        <li>Printing Paper </li>
        <li>Geometry Set</li>

    </ul>
    <h3>Social Media</h3>
    <br />
    <a href="https://www.facebook.com/Phil.OVO.More" target="_blank">
        <img src="https://img.icons8.com/color/48/000000/facebook.png" />
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/Philmore_XO" target="_blank">
        <img src="https://img.icons8.com/color/48/000000/twitter--v2.png" />
    </a>

</div>
