@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to BookAholic</h1>
        <p>We provide all your book supply needs </p>
    </div>


    <!-- Background image -->
    <div class="bg-image"
         style=" background-image: url('https://ychef.files.bbci.co.uk/976x549/p03gg1lc.jpg'); height: 600px; ">

    </div>
    <!-- Background image -->

</body>