@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Information Control - Your customer profile is accessible from our website and you may update it at anytime. Our web site provides you with the ability to change your phone numbers, physical addresses, and email address information stored in your profile.
    You may also write to us at the address listed at the bottom of this policy to request that we make the change for you.
</p>
<p>
    Personal Information Collected - Readingly recognizes the need for consumers to control the use and management of personal information. By personal information we mean information that can be used to identify or contact an individual.
    This may include, but is not limited to, a first and last name, a physical address, an email address, a student id number, or a phone number.
    If you are visiting our site to browse or find information about Readingly's' products, you do not need to provide any personal information.
    If you decide to make a purchase, however, we may collect this information so that we can provide you with the product or service you requested.
</p>